.carrusel-container {
  width: 80vw;
  overflow: hidden;
  position: relative;
}

.carrusel {
  display: flex;
  animation: moverImagenes 20s linear infinite; 
}

.carrusel-container::before, .carrusel-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px; 
  z-index: 1; 
}

.carrusel-container::before {
  left: 0; /* Sombra en el lado izquierdo */
  box-shadow: inset 10px 0 15px -9px rgb(0, 0, 0); 
}

.carrusel-container::after {
  right: 0; /* Sombra en el lado derecho */
  box-shadow: inset -10px 0 15px -9px rgb(0, 0, 0); 
}
.carrusel img {
  width: 8vw;
  min-width: 153.59px;
  height: fit-content;
  margin-right: 15px;
}

@keyframes moverImagenes {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-140%);
  }
}

@media screen and (min-width: 3456px) {
  @keyframes moverImagenes {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-105.4%);
    }
  }
}

@media screen and (min-width: 2560px) and (max-width: 3455px){
  @keyframes moverImagenes {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-107.4%);
    }
  }
}

@media screen and (min-width: 2540px) and (max-width: 2559px){
  @keyframes moverImagenes {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-107.4%);
    }
  }
}
  

@media screen and (min-width: 1920px) and (max-width: 2538px) {
  @keyframes moverImagenes {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-109.7%);
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  @keyframes moverImagenes {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-134.8%);
    }
  }
}

@media screen and (max-width: 500px) {
  .carrusel {
    display: flex;
    animation: moverImagenes 10s linear infinite; 
  }

  @keyframes moverImagenes {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-530.8%);
    }
  }
}


