* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --dark: rgb(32, 38, 50);
  --bg: rgb(55, 74, 103);
  --medium: rgb(97, 98, 131);
  --light: rgb(158, 123, 155);
  --very-light: rgb(198, 146, 240);
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg);
}

h1 {
  color: var(--very-light);
  font-size: 60px;
  text-align: center;
}

h2 {
  color: var(--very-light);
  font-size: 45px;
  text-align: center;
}
